@utility container { 
   margin-inline: auto;  
   @apply px-4 md:px-6 lg:px-8;
}

@theme {
	--font-fallback:
		"Inter Variable", "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	--color-white: #fff;
	--color-black: #000;
	--color-transparent: transparent;
	--color-current: currentColor;
}
@layer utilities {
	/* Typography Scale */

	.text-size-1 {
		@apply text-[2.025rem] leading-[1.1] font-normal lg:text-[3.25rem];
		letter-spacing: -0.0055em;
	}

	.text-size-2 {
		@apply text-[1.6875rem] leading-[1.25] lg:text-[2.025rem];
		letter-spacing: -0.0015em;
	}

	.text-size-3 {
		@apply text-[1.35rem] leading-[1.2] lg:text-[1.6875rem];
		letter-spacing: -0.0015em;
	}

	.text-size-4 {
		@apply text-[1.125rem] leading-[1.25] lg:text-[1.35rem];
		letter-spacing: -0.0015em;
	}

	.text-size-5 {
		@apply text-[1.0125rem] leading-[1.3] lg:text-[1.125rem];
		letter-spacing: -0.0015em;
	}

	.text-size-1,
	.text-size-2,
	.text-size-3,
	.text-size-4,
	.text-size-5 {
		@apply font-[450];
		letter-spacing: -0.015em !important;
	}

	.text-size-6 {
		@apply text-base leading-[1.5] font-normal tracking-normal;
	}

	.text-size-7 {
		@apply text-base leading-[1.6] tracking-normal lg:text-base;
	}

	.text-size-8 {
		@apply text-sm leading-[1.5] font-normal tracking-normal;
	}

	.text-size-9 {
		@apply text-xs leading-[1.5] font-normal tracking-normal;
		color: var(--color-muted-foreground);
	}
}